/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;;
  padding: 48px 0 63px;
  .hdLogo{
    max-width: 398px;
    width: 100%;
    height: auto;
  }
  h1{
    margin-top: 25px;
    letter-spacing: 10px;
    position: relative;
    font-family: "Teko";
    font-weight: 300;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 96px;
    &::before{
      content: '';
      width: 804px;
      height: 1px;
      background: #FFF;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
    margin: 40px auto;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #FFF;
  }
}
