/*footer*/

#footer {
  background: url(../images/common/bgFooter.jpg)no-repeat center top;
  background-size: cover;
  padding: 10px 0;
  .footLogo{
    max-width: 398px;
    width: 100%;
    margin: 0 auto;
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .footLeft{
      width: 50%;
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        li{
          a{
            font-family: "Teko";
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
          }
          &.active-menu a, a:hover {
            background:linear-gradient(to right, #FFEA04,#D90000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    .footRight{
      text-align: right;
      font-family: "Teko";
      font-weight: 400;
      font-size: 18px;
      color: #FFFFFF;
    }
  }
}
