/*header*/

#header {
  background: #FFFFFF;
  padding: 10px 0;
  .row{
    max-width: 1680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .hdLeft{
    text-align: left;
    h5{
      padding-left: 30px;
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 15px;
      color: #91BA13;
      line-height: 18px
    }
    p{
      margin: 0;
      .hdPhone{
        background: url(../images/common/hdPhone.png)no-repeat 0 2px;
        height: 30px;
        padding: 0 0 0 40px;
        font-family: "Rajdhani";
        font-weight: 700;
        font-size: 28px;
        color: #444444;
      }
    }
  }
  .hdMid{
    text-align: left;
    h5{
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 15px;
      color: #91BA13;
      line-height: 18px
    }
    p{
      margin: 0 auto;
      .hdEmail{
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 20px;
        color: #444444;
      }
    }
  }
  .hdRight{
    nav {
      a#pull {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          vertical-align: middle;
          padding: 20px 0;
          a {
            font-family: "Teko";
            font-weight: 400;
            font-size: 18px;
            color: #777777;
            padding: 20px 30px;
            letter-spacing: 1px
          }
          &.active-menu a, a:hover {
            border-radius: 100px;
            background: linear-gradient(to right, #FFEA04,#D90000);
            color: #fff;
          }
        }
      }
    }
  }
}
