/*why choose us*/
#why{
  background: #FFF;
  padding: 54px 0 48px;
  h2{
    font-family: "Teko";
    font-weight: 400;
    font-size: 70px;
    color: #1D1D1D;
    margin-bottom: 20px;
  }
  .container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    dl{
      dt{
        max-width: 165px;
        width: 100%;
        height: auto;
      }
      dd{
        padding: 20px 0 0;
        margin: 0 auto;
        font-family: "Teko";
        font-size: 28px;
        font-weight: 300;
        color: #444444;
      }
    }
  }
}
