/*services2*/
#services2{
  background: url(../images/common/bgServices.jpg)no-repeat center top;
  background-size: cover;
  padding: 109px 0 101px;
  .svc2Right{
    position: relative;
    text-align: left;
    h3{
      font-family: "Teko";
      font-weight: 300;
      font-size: 30px;
      color: #FFF;
      line-height: 36px;
    }
    h2{
      font-family: "Teko";
      font-weight: 300;
      font-size: 70px;
      color: #91B813;
      line-height: 84px
    }
    ul{
      list-style-type: square;
      columns: 2;
      padding: 0 0 0 20px;
      li{
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 23px;
        color: #FFF;
        line-height: 200%
      }
    }
    img.military{
      position: absolute;
      left: -450px;
      bottom: -71px;
    }
    img.log{
      position: absolute;
      left: -100px;
      bottom: -101px;
    }
  }
}
