/*Areas*/
#area{
  background: url(../images/common/bgAreas.jpg)no-repeat center top;
  background-size: cover;
  margin-bottom: 0;
  .row{
    position: relative;
  }
  .areaLeft{
    position: relative;
    text-align: left;
    padding: 85px 0 76px;
    h2{
      font-family: "Rajdhani";
      font-weight: 700;
      font-size: 46px;
      color: #FFF;
      line-height: 115%;
      span{
        display: block;
        font-size: 48px;
        color: #91B813;
      }
    }
    p{
      font-family: "Century Gothic";
      font-weight: 700;
      font-size: 18px;
      color: #FFF;
      line-height: 37px;
    }
    &::before{
      content: url(../images/common/air.png);
      position: absolute;
      left: -100px;
      bottom: 0
    }
  }
  img.aircon{
    margin-top: -45px;
    max-width: 448px;
    width: 33.33%;
    position: absolute;
    right: 0;
    bottom: 0
  }
}
