/*Recent Works*/
#works{
  background: linear-gradient(to right, #FEE503 50%, #E64415 100%);
  padding: 45px 0 57px;
  .worksLeft{
    position: relative;
    padding: 50px 0 0;
    h2{
      font-family: "Teko";
      font-weight: 300;
      font-size: 70px;
      color: #B20000;
      text-align: left;
      letter-spacing: 3px;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      img{
        margin: 5px 0;
        max-width: 394px;
        width: 49%;
        height: 100%;
      }
    }
    .sf{
      position: absolute;
      left: -110px;
      bottom: -50px;
    }
  }
  .worksRight{
    h2{
      max-width: 415px;
      margin: 0 auto;
      font-family: "Teko";
      font-weight: 300;
      font-size: 70px;
      color: #B20000;
      text-align: left;
      letter-spacing: 3px;
      span{
        line-height: 50%;
        display: block;
        font-size: 40px;
        color: #535353;
        margin-bottom: 10px;
      }
    }
    .container{
      float: right;
      clear: both;
      max-width:485px;
      width: 100%;
      background: #FFFFFF;
      padding: 25px 0 50px;
      border-radius: 5px;
      box-shadow: 0 0 40px -10px;
      form{
        max-width: 415px;
        margin: 0 auto;
        span{
          display: block;
          text-align:left;
          font-family: "Century Gothic";
          font-size: 14px;
          color: #535353;
        }
        span.recap{
          display: none;
        }
        input[type="text"]{
          height: 52px;
          border-radius: 0;
          background: #EEEEEE;
          border: 1px solid #888888;
        }
        textarea{
          height: 166px;
          border-radius: 0;
          background: #EEEEEE;
          border: 1px solid #888888;
        }
        .ctcBtn{
          margin: 20px 0 0 164px;
          text-align: center;
          font-family: "Century Gothic";
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 1px;
          color: #FFF;
          display: inline-block;
          max-width: 248px;
          width: 100%;
          padding: 19.5px 0;
          background: linear-gradient(to right, #FFEA04,#D90000);
          border-radius: 5px;
          border: none;
          transition: all 0.5s ease;
          &:hover {
            background: #ddd;
            border-color: #ddd;
            color: #ddd;
            color: #000;
          }
        }
      }
    }
  }
}
