/*contact*/
#contact{
  padding: 34px 0 40px;
  .row{
    max-width: 1200px;
  }
  h2{
    font-family: "Teko";
    font-weight: 300;
    font-size: 80px;
    color: #444444;
    letter-spacing: 5px;
    line-height: 96px;
    max-width: 302px;
    margin: 0 auto;
    border-bottom: 1px solid #444444;
  }
  p{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #444444;
    max-width: 978px;
    margin: 30px auto;
    line-height: 180% ;
  }
  .container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    dl{
      min-height: 234px;
      max-width: 371px;
      width: 100%;
      background: linear-gradient(to right, #0059B2, #44CEFC);
      dt{
        position: relative;
        img.email{
          background: url(../images/common/cnt-sprites.png)no-repeat 0 0;
          width: 70px;
          height: 70px;
          margin-top: -35px;
        }
        img.phone{
          background: url(../images/common/cnt-sprites.png)no-repeat -96px 0;
          width: 70px;
          height: 70px;
          margin-top: -35px;
        }
        img.location{
          background: url(../images/common/cnt-sprites.png)no-repeat -193px 0;
          width: 70px;
          height: 70px;
          margin-top: -35px;
        }
        span{
          display: block;
          font-family: "Teko";
          font-weight: 300;
          font-size: 30px;
          color: #FFFFFF;
          padding: 20px 0;
        }
        &::after{
          content: '';
          position: absolute;
          width: 132px;
          height: 1px;
          background: #fff;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      dd{
        padding: 20px 0 0!important;
        margin: 0 auto;
        padding: 1px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #FFF;
        .cntPhone{
          font-family: "Teko";
          font-weight: 300;
          font-size: 30px;
          color: #FFFFFF;
        }
      }
    }
  }
}
