/*service 1*/
#services1{
  padding: 75px 0 ;
  .row{
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    dl{
      max-width: 492px;
      width: 100%;
      dt{
        img{
          max-width: 417px;
          width: 100%;
        }
      }
      dd{
        padding: 40px 0 0;
        margin: 0;
        h2{
          letter-spacing: 3.6px;
          font-family: "Teko";
          font-weight: 300;
          font-size: 44px;
          color: #0059B2;
        }
        p{
          letter-spacing: 0.3px;
          line-height: 165%;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 15px;
          color: #444444;
          max-width: 424px;
          margin: 20px auto 0;
        }
      }
    }
  }
}
