/*welcome*/
#welcome{
  position: relative;
  padding: 116px 0 60px;
  img.wlcIMG{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: 960px;
    width: 50%;
    height: auto;
  }
  .wlcLeft{
    text-align: left;
    position: relative;
    &::before{
      content: url('../images/common/snowflake.png');
      position: absolute;
      left: -120px;
      bottom: -60px;
    }
    h4{
      letter-spacing: 10px;
      font-family: "Teko";
      font-weight: 300;
      font-size: 30px;
      color: #444444;
      line-height: 36px
    }
    p{
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 15px;
      color: #444444;
      line-height: 180%;
      &:last-of-type{
        font-weight: 700;
        color: #E54C00;
      }
    }
  }
}
