h1 {
  font-family: "Teko";
  font-weight: 700;
  font-size: 52px;
  color: #0059B2;
  line-height: 62.399999999999999px;
  span{
    display: block;
    font-weight: 300;
    font-size: 69px;
    color: #8C0000;
    line-height: 83px;
    letter-spacing: 4.1px
  }
}
