@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face {
  font-family: 'Teko';
  src: url("fonts/Teko-Regular.woff2") format("woff2"), url("fonts/Teko-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Century Gothic';
  src: url("fonts/CenturyGothic-Bold.woff2") format("woff2"), url("fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Teko';
  src: url("fonts/Teko-Light.woff2") format("woff2"), url("fonts/Teko-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Rajdhani';
  src: url("fonts/Rajdhani-Semibold.woff2") format("woff2"), url("fonts/Rajdhani-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Teko';
  src: url("fonts/Teko-Bold.woff2") format("woff2"), url("fonts/Teko-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Rajdhani';
  src: url("fonts/Rajdhani-Bold.woff2") format("woff2"), url("fonts/Rajdhani-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Century Gothic';
  src: url("fonts/CenturyGothic.woff2") format("woff2"), url("fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative; }

html.suspended {
  background: rgba(0, 0, 0, 0.6); }

body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

.row {
  max-width: 1366px;
  margin: 0 auto; }

/*floats*/
.fl {
  float: left; }

.fr {
  float: right; }

/*grids*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*typography*/
.text-primary {
  color: #B11414; }

.text-bold {
  font-weight: 700; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left; }

/*button*/
.btn {
  text-align: center;
  font-family: "Teko";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #FFF;
  display: inline-block;
  max-width: 248px;
  width: 100%;
  padding: 19.5px 0;
  background: -webkit-gradient(linear, left top, right top, from(#91B913), to(#FEE503));
  background: -webkit-linear-gradient(left, #91B913, #FEE503);
  background: -o-linear-gradient(left, #91B913, #FEE503);
  background: linear-gradient(to right, #91B913, #FEE503);
  border-radius: 100px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #000; }

.btn2 {
  text-align: center;
  font-family: "Teko";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #FFF;
  display: inline-block;
  max-width: 248px;
  width: 100%;
  padding: 19.5px 0;
  background: -webkit-gradient(linear, left top, right top, from(#FFEA04), to(#D90000));
  background: -webkit-linear-gradient(left, #FFEA04, #D90000);
  background: -o-linear-gradient(left, #FFEA04, #D90000);
  background: linear-gradient(to right, #FFEA04, #D90000);
  border-radius: 100px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn2:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #000; }

/*clearings*/
.clear {
  clear: both; }

.clearfix {
  display: block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta {
  display: none; }

/*contact form messages*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important; }

form .loading {
  display: none; }

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

form [type="submit"] {
  margin: 20px auto; }

/*contact form*/
.ctc-form {
  margin: 0 auto;
  text-align: center; }
  .ctc-form input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px; }
  .ctc-form textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px; }
  .ctc-form button {
    display: block; }
  .ctc-form .recap {
    display: inline-block; }
  .ctc-form .g-recaptcha div {
    margin: 0 auto 10px; }
  .ctc-form .ctc-hide {
    display: none; }

/*gallery*/
#content .gallery-container {
  text-align: center; }

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #content .gallery li {
    display: inline-block; }

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border 0.5s ease-in-out 0s;
  -o-transition: border 0.5s ease-in-out 0s;
  transition: border 0.5s ease-in-out 0s; }
  #content .thumbnail:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

#content .page_navigation {
  display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative; }

#content .page_navigation > a:hover {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

h1 {
  font-family: "Teko";
  font-weight: 700;
  font-size: 52px;
  color: #0059B2;
  line-height: 62.399999999999999px; }
  h1 span {
    display: block;
    font-weight: 300;
    font-size: 69px;
    color: #8C0000;
    line-height: 83px;
    letter-spacing: 4.1px; }

/*header*/
#header {
  background: #FFFFFF;
  padding: 10px 0; }
  #header .row {
    max-width: 1680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #header .hdLeft {
    text-align: left; }
    #header .hdLeft h5 {
      padding-left: 30px;
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 15px;
      color: #91BA13;
      line-height: 18px; }
    #header .hdLeft p {
      margin: 0; }
      #header .hdLeft p .hdPhone {
        background: url(../images/common/hdPhone.png) no-repeat 0 2px;
        height: 30px;
        padding: 0 0 0 40px;
        font-family: "Rajdhani";
        font-weight: 700;
        font-size: 28px;
        color: #444444; }
  #header .hdMid {
    text-align: left; }
    #header .hdMid h5 {
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 15px;
      color: #91BA13;
      line-height: 18px; }
    #header .hdMid p {
      margin: 0 auto; }
      #header .hdMid p .hdEmail {
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 20px;
        color: #444444; }
  #header .hdRight nav a#pull {
    display: none; }
  #header .hdRight nav ul {
    margin: 0;
    padding: 0; }
    #header .hdRight nav ul li {
      display: inline-block;
      vertical-align: middle;
      padding: 20px 0; }
      #header .hdRight nav ul li a {
        font-family: "Teko";
        font-weight: 400;
        font-size: 18px;
        color: #777777;
        padding: 20px 30px;
        letter-spacing: 1px; }
      #header .hdRight nav ul li.active-menu a, #header .hdRight nav ul li a:hover {
        border-radius: 100px;
        background: -webkit-gradient(linear, left top, right top, from(#FFEA04), to(#D90000));
        background: -webkit-linear-gradient(left, #FFEA04, #D90000);
        background: -o-linear-gradient(left, #FFEA04, #D90000);
        background: linear-gradient(to right, #FFEA04, #D90000);
        color: #fff; }

/*banner*/
#banner {
  background: url(../images/common/bgBanner.jpg) no-repeat center top;
  background-size: cover;
  padding: 48px 0 63px; }
  #banner .hdLogo {
    max-width: 398px;
    width: 100%;
    height: auto; }
  #banner h1 {
    margin-top: 25px;
    letter-spacing: 10px;
    position: relative;
    font-family: "Teko";
    font-weight: 300;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 96px; }
    #banner h1::before {
      content: '';
      width: 804px;
      height: 1px;
      background: #FFF;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  #banner p {
    margin: 40px auto;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #FFF; }

/*welcome*/
#welcome {
  position: relative;
  padding: 116px 0 60px; }
  #welcome img.wlcIMG {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    max-width: 960px;
    width: 50%;
    height: auto; }
  #welcome .wlcLeft {
    text-align: left;
    position: relative; }
    #welcome .wlcLeft::before {
      content: url("../images/common/snowflake.png");
      position: absolute;
      left: -120px;
      bottom: -60px; }
    #welcome .wlcLeft h4 {
      letter-spacing: 10px;
      font-family: "Teko";
      font-weight: 300;
      font-size: 30px;
      color: #444444;
      line-height: 36px; }
    #welcome .wlcLeft p {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 15px;
      color: #444444;
      line-height: 180%; }
      #welcome .wlcLeft p:last-of-type {
        font-weight: 700;
        color: #E54C00; }

/*service 1*/
#services1 {
  padding: 75px 0; }
  #services1 .row {
    max-width: 1480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    #services1 .row dl {
      max-width: 492px;
      width: 100%; }
      #services1 .row dl dt img {
        max-width: 417px;
        width: 100%; }
      #services1 .row dl dd {
        padding: 40px 0 0;
        margin: 0; }
        #services1 .row dl dd h2 {
          letter-spacing: 3.6px;
          font-family: "Teko";
          font-weight: 300;
          font-size: 44px;
          color: #0059B2; }
        #services1 .row dl dd p {
          letter-spacing: 0.3px;
          line-height: 165%;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 15px;
          color: #444444;
          max-width: 424px;
          margin: 20px auto 0; }

/*Areas*/
#area {
  background: url(../images/common/bgAreas.jpg) no-repeat center top;
  background-size: cover;
  margin-bottom: 0; }
  #area .row {
    position: relative; }
  #area .areaLeft {
    position: relative;
    text-align: left;
    padding: 85px 0 76px; }
    #area .areaLeft h2 {
      font-family: "Rajdhani";
      font-weight: 700;
      font-size: 46px;
      color: #FFF;
      line-height: 115%; }
      #area .areaLeft h2 span {
        display: block;
        font-size: 48px;
        color: #91B813; }
    #area .areaLeft p {
      font-family: "Century Gothic";
      font-weight: 700;
      font-size: 18px;
      color: #FFF;
      line-height: 37px; }
    #area .areaLeft::before {
      content: url(../images/common/air.png);
      position: absolute;
      left: -100px;
      bottom: 0; }
  #area img.aircon {
    margin-top: -45px;
    max-width: 448px;
    width: 33.33%;
    position: absolute;
    right: 0;
    bottom: 0; }

/*services2*/
#services2 {
  background: url(../images/common/bgServices.jpg) no-repeat center top;
  background-size: cover;
  padding: 109px 0 101px; }
  #services2 .svc2Right {
    position: relative;
    text-align: left; }
    #services2 .svc2Right h3 {
      font-family: "Teko";
      font-weight: 300;
      font-size: 30px;
      color: #FFF;
      line-height: 36px; }
    #services2 .svc2Right h2 {
      font-family: "Teko";
      font-weight: 300;
      font-size: 70px;
      color: #91B813;
      line-height: 84px; }
    #services2 .svc2Right ul {
      list-style-type: square;
      -webkit-columns: 2;
      columns: 2;
      padding: 0 0 0 20px; }
      #services2 .svc2Right ul li {
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 23px;
        color: #FFF;
        line-height: 200%; }
    #services2 .svc2Right img.military {
      position: absolute;
      left: -450px;
      bottom: -71px; }
    #services2 .svc2Right img.log {
      position: absolute;
      left: -100px;
      bottom: -101px; }

/*why choose us*/
#why {
  background: #FFF;
  padding: 54px 0 48px; }
  #why h2 {
    font-family: "Teko";
    font-weight: 400;
    font-size: 70px;
    color: #1D1D1D;
    margin-bottom: 20px; }
  #why .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #why .container dl dt {
      max-width: 165px;
      width: 100%;
      height: auto; }
    #why .container dl dd {
      padding: 20px 0 0;
      margin: 0 auto;
      font-family: "Teko";
      font-size: 28px;
      font-weight: 300;
      color: #444444; }

/*Recent Works*/
#works {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FEE503), to(#E64415));
  background: -webkit-linear-gradient(left, #FEE503 50%, #E64415 100%);
  background: -o-linear-gradient(left, #FEE503 50%, #E64415 100%);
  background: linear-gradient(to right, #FEE503 50%, #E64415 100%);
  padding: 45px 0 57px; }
  #works .worksLeft {
    position: relative;
    padding: 50px 0 0; }
    #works .worksLeft h2 {
      font-family: "Teko";
      font-weight: 300;
      font-size: 70px;
      color: #B20000;
      text-align: left;
      letter-spacing: 3px; }
    #works .worksLeft .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: justify;
      align-content: space-between; }
      #works .worksLeft .container img {
        margin: 5px 0;
        max-width: 394px;
        width: 49%;
        height: 100%; }
    #works .worksLeft .sf {
      position: absolute;
      left: -110px;
      bottom: -50px; }
  #works .worksRight h2 {
    max-width: 415px;
    margin: 0 auto;
    font-family: "Teko";
    font-weight: 300;
    font-size: 70px;
    color: #B20000;
    text-align: left;
    letter-spacing: 3px; }
    #works .worksRight h2 span {
      line-height: 50%;
      display: block;
      font-size: 40px;
      color: #535353;
      margin-bottom: 10px; }
  #works .worksRight .container {
    float: right;
    clear: both;
    max-width: 485px;
    width: 100%;
    background: #FFFFFF;
    padding: 25px 0 50px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 40px -10px;
    box-shadow: 0 0 40px -10px; }
    #works .worksRight .container form {
      max-width: 415px;
      margin: 0 auto; }
      #works .worksRight .container form span {
        display: block;
        text-align: left;
        font-family: "Century Gothic";
        font-size: 14px;
        color: #535353; }
      #works .worksRight .container form span.recap {
        display: none; }
      #works .worksRight .container form input[type="text"] {
        height: 52px;
        border-radius: 0;
        background: #EEEEEE;
        border: 1px solid #888888; }
      #works .worksRight .container form textarea {
        height: 166px;
        border-radius: 0;
        background: #EEEEEE;
        border: 1px solid #888888; }
      #works .worksRight .container form .ctcBtn {
        margin: 20px 0 0 164px;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #FFF;
        display: inline-block;
        max-width: 248px;
        width: 100%;
        padding: 19.5px 0;
        background: -webkit-gradient(linear, left top, right top, from(#FFEA04), to(#D90000));
        background: -webkit-linear-gradient(left, #FFEA04, #D90000);
        background: -o-linear-gradient(left, #FFEA04, #D90000);
        background: linear-gradient(to right, #FFEA04, #D90000);
        border-radius: 5px;
        border: none;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        #works .worksRight .container form .ctcBtn:hover {
          background: #ddd;
          border-color: #ddd;
          color: #ddd;
          color: #000; }

/*contact*/
#contact {
  padding: 34px 0 40px; }
  #contact .row {
    max-width: 1200px; }
  #contact h2 {
    font-family: "Teko";
    font-weight: 300;
    font-size: 80px;
    color: #444444;
    letter-spacing: 5px;
    line-height: 96px;
    max-width: 302px;
    margin: 0 auto;
    border-bottom: 1px solid #444444; }
  #contact p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #444444;
    max-width: 978px;
    margin: 30px auto;
    line-height: 180%; }
  #contact .container {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #contact .container dl {
      min-height: 234px;
      max-width: 371px;
      width: 100%;
      background: -webkit-gradient(linear, left top, right top, from(#0059B2), to(#44CEFC));
      background: -webkit-linear-gradient(left, #0059B2, #44CEFC);
      background: -o-linear-gradient(left, #0059B2, #44CEFC);
      background: linear-gradient(to right, #0059B2, #44CEFC); }
      #contact .container dl dt {
        position: relative; }
        #contact .container dl dt img.email {
          background: url(../images/common/cnt-sprites.png) no-repeat 0 0;
          width: 70px;
          height: 70px;
          margin-top: -35px; }
        #contact .container dl dt img.phone {
          background: url(../images/common/cnt-sprites.png) no-repeat -96px 0;
          width: 70px;
          height: 70px;
          margin-top: -35px; }
        #contact .container dl dt img.location {
          background: url(../images/common/cnt-sprites.png) no-repeat -193px 0;
          width: 70px;
          height: 70px;
          margin-top: -35px; }
        #contact .container dl dt span {
          display: block;
          font-family: "Teko";
          font-weight: 300;
          font-size: 30px;
          color: #FFFFFF;
          padding: 20px 0; }
        #contact .container dl dt::after {
          content: '';
          position: absolute;
          width: 132px;
          height: 1px;
          background: #fff;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
      #contact .container dl dd {
        padding: 20px 0 0 !important;
        margin: 0 auto;
        padding: 1px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #FFF; }
        #contact .container dl dd .cntPhone {
          font-family: "Teko";
          font-weight: 300;
          font-size: 30px;
          color: #FFFFFF; }

/*footer*/
#footer {
  background: url(../images/common/bgFooter.jpg) no-repeat center top;
  background-size: cover;
  padding: 10px 0; }
  #footer .footLogo {
    max-width: 398px;
    width: 100%;
    margin: 0 auto; }
  #footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px; }
  #footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #footer .container .footLeft {
      width: 50%; }
      #footer .container .footLeft ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        list-style-type: none; }
        #footer .container .footLeft ul li a {
          font-family: "Teko";
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF; }
        #footer .container .footLeft ul li.active-menu a, #footer .container .footLeft ul li a:hover {
          background: -webkit-gradient(linear, left top, right top, from(#FFEA04), to(#D90000));
          background: -webkit-linear-gradient(left, #FFEA04, #D90000);
          background: -o-linear-gradient(left, #FFEA04, #D90000);
          background: linear-gradient(to right, #FFEA04, #D90000);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
    #footer .container .footRight {
      text-align: right;
      font-family: "Teko";
      font-weight: 400;
      font-size: 18px;
      color: #FFFFFF; }

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto; }
  .inPrivacyBox p {
    text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
