/*Areas*/
#area {
  background: url(../images/common/bgAreas.jpg) no-repeat center top;
  background-size: cover;
  padding: 85px 0 76px; }
  #area .row {
    position: relative; }
  #area .areaLeft h2 {
    font-family: "Rajdhani";
    font-weight: 700;
    font-size: 46px;
    color: #FFF;
    line-height: 115%; }
    #area .areaLeft h2 span {
      font-size: 48px;
      color: #91B813; }
  #area .areaLeft p {
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 18px;
    color: #FFF; }
  #area .areaLeft img.aircon {
    position: absolute;
    right: 0;
    bottom: 0; }
