/*service 1*/
#services1 .row {
  max-width: 1480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  #services1 .row dl dt img {
    max-width: 417px;
    width: 100%; }
  #services1 .row dl dd h2 {
    font-family: "Teko";
    font-weight: 300;
    font-size: 44px;
    color: #0059B2; }
  #services1 .row dl dd p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #444444; }
